/*font*/
@font-face {
	font-family: 'AppleSDGothicNeoM';
	src: url("../font/AppleSDGothicNeoM.woff"),
		 url("../font/AppleSDGothicNeoM.ttf");
}

@font-face {
	font-family: 'AppleSDGothicNeoB';
	src: url("../font/AppleSDGothicNeoB.woff"),
		 url("../font/AppleSDGothicNeoB.ttf");
}

@font-face {
	font-family: 'AppleSDGothicNeoEB';
	src: url("../font/AppleSDGothicNeoEB.woff"),
		 url("../font/AppleSDGothicNeoEB.ttf");
}

@font-face {
	font-family: 'AppleSDGothicNeoR';
	src: url("../font/AppleSDGothicNeoR.woff"),
		 url("../font/AppleSDGothicNeoR.ttf");
}


/*common*/
$point-Col-01: #153970;
$point-Col-02: #999999;
$point-Col-03: #2B5D8F;

html {
	height: 100%;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	height: 100%;
	background-color: #E4E8EE;
	font-family: 'AppleSDGothicNeoB';
	color: #000;
	font-size: 1.5rem;
	line-height: 1.2;
}

.draggable {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all
}

.dp-none {
	display: none;
}

button{
	font-family: 'AppleSDGothicNeoB';
	border: 0;
	&:active {
		opacity: 0.8;
	}
}

input, select{
	font-family: 'AppleSDGothicNeoB';
}

input[type="text"]{
	border-radius: 1rem;
	border: 0.1rem solid #CCCCCC;
	background-color: #fff;
	line-height: 3.2rem;
	font-size: 1.5rem;
	padding: 0 1rem;
	width: 100%;
}

select{	
	appearance: none;
	background: url("../img/ic_dropdown.png") no-repeat right center;
}

table{
	width: 100%;
	background-color: #fff;
	border-collapse: separate;
    border-spacing: 0;

	td{
		height: 3.1rem;
		vertical-align: middle;
		border-right: 0.1rem solid #E6E9F8;
		border-bottom: 0.1rem solid #E6E9F8;
		padding: 0 1rem;
		white-space: nowrap;
		font-family: 'AppleSDGothicNeoM';
		font-size: 1.3rem;
		&:last-child{
			border-right: none;
		}
	}

	thead{
		background-color: $point-Col-01;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 2;
		color: #fff;
	}

	tbody{
		tr:active{
			background-color: #D5E1FF;
		}
		td{
			text-align: left;
			padding: 0 1rem;
		}
		.text-c{
			text-align: center;
			padding: 0 1rem;
		}
		.text-r{
			text-align: right;
		}
	}
}


.table{
	overflow: auto;
	border: 0.1rem solid $point-Col-01;
}

input[type="checkbox"] {
	width: 2.0rem;
	height: 2.0rem;
	border: 0.1rem solid #3C4784;
	border-radius: 0.6rem;
	background-color: #fff;
	position: relative;
}

input[type="checkbox"]::before {
	content: "";
	background-image: url(../img/ic_checked.png);
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}

input[type="checkbox"]:checked {
	background-color: #153970;
}

input[type="checkbox"]:checked::before {
	transform: scale(1) translate(-50%, -50%);
}

.checkbox-wrap {
	label {
		font-size: 1.4rem;
		margin-right: 1rem;
		margin-left: 0.1rem;
		line-height: 1.5;
	}
}


.btn-style-01{
	background-color: $point-Col-01;
	width: 100%;
	height: 5rem;
	color: #fff;
	border: none;
	border-radius: 1.4rem;
	font-size: 1.7rem;
	line-height: 1.0;
	&:disabled{
		background-color: #CCCCCC;
		color: #fff;
	}
}

.btn-style-02{
	width: 9rem;
	line-height: 3rem;
	background-color: $point-Col-01;
	border-radius: 1.5rem;
	color: #fff;
}

.btn-style-03{
	width: 5rem;
	height: 3.4rem;
	line-height: 3.4rem;	
	background-color: $point-Col-03;
	border-radius: 1rem;
	color: #fff;
}

.note{
	width: 2.6rem;
	height: 2.6rem;
	background-image: url(../img/ic_note.png);
}


.main{
	height: calc(100% - 40px);
}
.top{
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	text-align: left;

	&.data-page{
		justify-content: space-between;
		span{
			padding-top: 8px;
		}
	}

	.img {
		width: 3rem;
		height: 3rem;
		display: inline-block;
		margin-right: 0.6rem;
		img {
			width: 100%;
		}
		&:active {
			opacity: 0.8;
		}
	}
	span{
		padding-top: 4px;
	}
}

/*login, setting */

.login-main{
	width: 100%;
	height: 100%;
	padding: 0rem 2rem;

	input[type="text"]{
		color: #3E444D;
	}

	.checkbox-wrap{		
		text-align: right;
		margin-top: 2rem;
		margin-bottom: 8.9rem;
		label{
			color: #3E444D;
		}
		input[type="checkbox"]{
			margin-right: 10px;
		}
	}
}

.logo {
	position: relative;
	height: 18.1rem;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	p {
		text-align: right;
		font-size: 1.4rem;
	}
}

.setting {
	margin-bottom: 2.0rem;
	text-align: right;

	button {
		background-color: $point-Col-01;
		width: 8rem;
		height: 3rem;
		font-size: 1.3rem;
		color: #fff;
		border-radius: 1.5rem;
		border: none;
		line-height: 1.4rem;
	}	
}

.box{
	background-color: #fff;
	border-radius: 2rem 2rem 2rem 0.6rem;
	padding: 2rem 1rem 1.5rem 1.4rem;
	height: 8rem;
	text-align: right;
	position: relative;
	box-shadow: 0.2rem 0.2rem 0.4rem 0rem #d1cfcf;

	.title {
		color: $point-Col-02;
		text-align: left;
		margin-bottom: 0.8rem;
	}

	&.company {
		margin-bottom: 2.8rem;

		select {
			border: none;
			font-size: 1.5rem;
			width: calc(100% - 2.8rem);
		}

		.select{
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: -0.1rem;
				left: 0;
				background: url(../img/ic_01.png) no-repeat center;
				background-size: cover;
				width: 2rem;
				height: 2rem;
			}
		}
	}

	.sub {
		text-align: left;
		padding-left: 30px;
		position: relative;
		input {
			border: none;
			width: 92%;
			padding: 0;
			font-size: 1.5rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: -0.1rem;
			left: 0;
			background: url("../img/ic_02.png") no-repeat right center;
			background-size: cover;
			width: 2rem;
			height: 2rem;
		}
			
	}	

	&.id {
		margin-bottom: 2.0rem;
		.title{
			margin-bottom: 0;
		}
		.sub::before{
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.password {
		.sub{
			&::before {
				background: url("../img/ic_03.png") no-repeat right center;
			}
		}
	}

	&.set {
		margin-bottom: 2rem;

		.sub {
			input {
				width: 100%;
			}
		}
	}

}

.close {
	position: absolute;
	background-image: url(../img/ic_close.png);
	background-repeat: no-repeat;
	top: 50%;
    right: 0;
	width: 1.3rem;
	height: 1.3rem;
	transform: translate(-50%, -50%);
}

.txt-alarm {
	text-align: left;
	font-size: 1.3rem;
	margin-left: 1.5rem;
	color: #E91800;
	margin-bottom: 0.7rem;
}

.setting-main{
	width: 100%;
	height: 100%;
	padding: 0rem 2rem;

	.box{
		margin-bottom: 1rem;
	}
	.title{
		margin-bottom: 0;
	}

	.setting-value{
		input[type="text"], select{
			width: 100%;
			height: 3.4rem;
			font-size: 1.5rem;
			border: 0;
			color: #3E444D;
		}
	}
}

.set-txt{
	text-align: left;
	color: #E91800;
	margin: 1.8rem 0 1.5rem;
	padding-left: 1.5rem;
	font-size: 1.4rem;
}

.test-row{
	text-align: right;
	margin: 2rem 0 3.8rem;
}
.access-alarm{
	.log-out {
		margin-left: 10px;
		color: #C72E45;
		vertical-align: baseline;
		background-color: transparent;
	}
} 


/*main-menu*/

.menu{
	padding: 2.5rem 3rem 0; 
	height: calc(100% - 60px);
    overflow-y: auto;

	.list-wrap{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.list{
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		height: 6.4rem;
		padding: 0 1rem 0 1.2rem;		
		margin-bottom: 2rem;
		background-color: #fff;
		border-radius: 2rem 2rem 2rem 0.6rem;
		box-shadow: 0.2rem 0.2rem 0.4rem 0rem #d1cfcf;

		p{
			padding-top: 4px;
			font-size: 1.6rem;
			text-align: center;
			font-family: 'AppleSDGothicNeoEB';
		}
		&:last-child{
			margin-bottom: 0;
		}
		img{
			margin-right: 0.8rem;
		}
		.ic-right{
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			background-image: url(../img/ic_right.png);
			background-size: contain;
		}
	}
}

.access-alarm {
	margin-top: 1rem;
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background: #E4E8EE;
	padding: 2.2rem 0;

	p {
		font-size: 1.3rem;
	}
}

/*data page*/
.data-container{
	background-color: #F1F4F9;
	padding: 1rem;

	.code-help{
		input[type=text]{
			background-color: #F3FBEC;
		}
	}
}

.row{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	&:last-child{
		margin-bottom: 0;
	}
	.c-name{
		width: 9rem;
		text-align: left;
		font-size: 1.4rem;
	}
	.field{
		width: calc(100% - 9rem);
		text-align: left;
		input[type=text]{
			width: 100%;
		}
		
		&.date{
			display: flex;
			justify-content: space-between;
			align-items: center;
			input[type=text]{
				width: 46%;
				text-align: center;
			}
		}
		&.search{
			display: flex;
			justify-content: space-between;
			.input{
				width: calc(100% - 6rem);
				input[type=text]{
					width: 100%;
				}
			}	
		}
		.scan{
			position: relative;
			&::before{
				position: absolute;
				top: 50%;
				right: 1rem;
				transform: translateY(-50%);
				content: "스캔";
				width: 3rem;
				line-height: 1.6rem;
				font-size: 1rem;
				text-align: center;
				border-radius: 1rem;
				background-color: #A3BFEB;
				color: #fff;
			}
		}
	}
}


.table-container{
	padding: 1.5rem 1rem 1.5rem;
	.btn-row{
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
		margin-bottom: 1.5rem;
	}
	.table{
		height: 40.6rem;
	}
}

.btn-row{
	padding: 0 1rem 1.5rem;
}


/*modal*/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background-color: #00000080;
	display: none;

	.container{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 29.7rem;
		min-height: 26.7rem;
		font-size: 1.5rem;
		text-align: left;
		background-color: #fff;
		border-radius: 2rem;

		.title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.8rem 1.8rem 0.6rem;
			text-align: left;
			border-bottom: 1px solid #E4E8EE;
		}
		.sub{
			padding: 1.5rem 1.8rem 1.8rem;
		}
	}
	.btn-close{
		width: 1.8rem;
		height: 1.8rem;
		background-image: url(../img/btn_madal_close.png);
		background-size: contain;
		background-color: transparent;
	}
}


// 코드헬프
.code-help-con{
	position: fixed;
    background-color: #D9E0E8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
	display: none;

	.table{
		margin-bottom: 1.5rem;
	}

	.btn-row{
		padding: 0;
		margin-bottom: 0;
		button{
			color: white;
			border-radius: 1.4rem;
			text-align: center;
			font-size: 1.7rem;
		}
		.left{
			height: 4rem;
			line-height: 4rem;
			background-color: #F4575C;
			width: 10rem;
		}
		.right{
			height: 4rem;
			line-height: 4rem;
			background-color: #153970;
			width: 23rem;
		}
	}
}

.pagination-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;

	.pagination {
		font-size: 0;

		.btn-prev {
			width: 2rem;
			height: 2rem;
			background-image: url(../img/ic_left.png);
			margin: 7px 14px 0 0;
		}

		.btn-next {
			width: 2rem;
			height: 2rem;
			background-image: url(../img/ic_right.png);
			margin: 7px 0 0 14px;
		}

		.num-box {
			display: inline-block;
			line-height: 3.4rem;
			font-size: 0;

			span {
				font-size: 1.5rem;
			}

			.current {
				width: 5rem;
				height: 3.4rem;
				background-color: white;
				border-radius: 1rem;
				border: 1px solid #CCCCCC;
				text-align: center;
			}

			.slash{
				margin: 0 2rem 0 1rem;
			}
		}
	}

	.combo {
		select {
			font-size: 1.5rem;
			width: 12.7rem;
			height: 3.4rem;
			appearance: none;
			background: url("../img/ic_dropdown.png") no-repeat 92% center;
			background-color: white;
			border-radius: 1rem;
			padding: 0 1rem;
			border: 1px solid #CCCCCC;
		}
	}
}
