@charset "UTF-8";
/*font*/
@font-face {
  font-family: "AppleSDGothicNeoM";
  src: url("../font/AppleSDGothicNeoM.woff"), url("../font/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../font/AppleSDGothicNeoB.woff"), url("../font/AppleSDGothicNeoB.ttf");
}
@font-face {
  font-family: "AppleSDGothicNeoEB";
  src: url("../font/AppleSDGothicNeoEB.woff"), url("../font/AppleSDGothicNeoEB.ttf");
}
@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("../font/AppleSDGothicNeoR.woff"), url("../font/AppleSDGothicNeoR.ttf");
}
/*common*/
html {
  height: 100%;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  height: 100%;
  background-color: #F1F1F1;
  font-family: "AppleSDGothicNeoB";
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.2;
}

.draggable {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}

.dp-none {
  display: none;
}

#app {
  height: 100%;
}

button {
  font-family: "AppleSDGothicNeoB";
  border: 0;
}
button:active {
  opacity: 0.8;
}

.btn-back {
  width: 70px;
  height: 30px;
  color: #fff;
  border-radius: 1rem;
  background-color: #153970;
}

input, select {
  font-family: "AppleSDGothicNeoB";
  background-color: white;
}

input[type=text] {
  border-radius: 1rem;
  border: 0.1rem solid #CCCCCC;
  line-height: 3.4rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  width: 100%;
}
input[type=text]:-moz-read-only {
  background-color: #F1F1F1;
  color: #999999;
}
input[type=text]:read-only {
  background-color: #F1F1F1;
  color: #999999;
}

input[type=password] {
  border-radius: 1rem;
}
input[type=password]:-moz-read-only {
  background-color: #F1F1F1;
}
input[type=password]:read-only {
  background-color: #F1F1F1;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/ic_dropdown.png") no-repeat right center;
  font-size: 1.5rem;
  background-color: #fff;
  width: 100%;
}
select:disabled {
  background-color: #F1F1F1;
}

table {
  width: 100%;
  background-color: white;
  border-collapse: separate;
  border-spacing: 0;
}
table td {
  height: 3.1rem;
  vertical-align: middle;
  border-right: 0.1rem solid #E6E9F8;
  border-bottom: 0.1rem solid #E6E9F8;
  padding: 0 1rem;
  white-space: nowrap;
  font-family: "AppleSDGothicNeoM";
  font-size: 1.4rem;
}
table td:last-child {
  border-right: none;
}
table td.border-r {
  border-right: 1px solid #E6E9F8;
}
table td input[type=text] {
  line-height: 3.1rem;
  border-radius: 0;
  border: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "AppleSDGothicNeoM";
  background-color: transparent;
}
table td input[type=text]:-moz-read-only {
  background-color: transparent;
}
table td input[type=text]:read-only {
  background-color: transparent;
}
table td.code-help {
  background-color: #f0f8ff;
}
table thead {
  background-color: #153970;
  position: sticky;
  top: 0;
  z-index: 2;
  color: white;
}
table tbody td {
  text-align: left;
  padding: 0 1rem 0 0.5rem;
}
table tbody .text-c {
  text-align: center;
  padding: 0 1rem;
}
table tbody .text-r {
  text-align: right;
}
table tbody .text-r input[type=text] {
  text-align: right;
}
table tbody .word-break {
  word-break: break-all;
  white-space: initial;
  min-width: 15rem;
}
table .guide-row {
  background-color: #e6f7d7;
}

.table {
  height: 43.4rem;
  overflow: auto;
  border: 0.1rem solid #153970;
}
.table.th-01 {
  height: 52.5rem;
}
.table.th-02 {
  height: 52.9rem;
}
.table.th-03 {
  height: 50.6rem;
}
.table.th-04 {
  height: 43rem;
}
.table.th-05 {
  height: 42.2rem;
}
.table.th-06 {
  height: 38rem;
}

.select-table td:first-child {
  width: 10%;
}
.select-table td:nth-child(2) {
  width: 10%;
}
.select-table td select {
  border: 0;
  width: 100%;
  background-image: url(../img/ic_select.png);
  font-family: "AppleSDGothicNeoM";
  line-height: 3rem;
  font-size: 1.4rem;
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #3C4784;
  border-radius: 0.6rem;
  background-color: white;
  position: relative;
}

input[type=checkbox]::before {
  content: "";
  background-image: url(../img/ic_checked.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type=checkbox]:checked {
  background-color: #153970;
}

input[type=checkbox]:checked::before {
  transform: scale(1) translate(-50%, -50%);
}

.checkbox-wrap label {
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-left: 0.1rem;
  line-height: 1.5;
}

.btn-style-01 {
  background-color: #153970;
  width: 100%;
  height: 5rem;
  color: white;
  border: none;
  border-radius: 1.4rem;
  font-size: 1.7rem;
  line-height: 1;
}

.btn-style-02 {
  width: 5.4rem;
  height: 3rem;
  background-color: #5E68F6;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 1.4rem;
  margin-right: 1rem;
}

.btn-style-03 {
  width: 5rem;
  height: 3.4rem;
  background-color: #153970;
  border-radius: 1rem;
  color: #fff;
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

.close {
  position: absolute;
  background-image: url(../img/ic_close.png);
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  transform: translate(-50%, -50%);
  display: none;
}

/*loading*/
.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6196078431);
  display: none;
}
.loading-wrap .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 7rem;
  background-color: white;
  border-radius: 1.4rem;
  padding: 1rem 0rem;
}
.loading-wrap .container span {
  padding-top: 1.8rem;
}

/*login*/
.login-main {
  width: 100%;
  height: 100%;
  padding: 0rem 2rem;
}
.login-main select {
  line-height: 3.4rem;
  padding: 0 1rem;
  background: url(../img/ic_dropdown.png) no-repeat 97% center;
  border-radius: 1rem;
}

.login-main select:disabled {
  background-color: #F1F1F1;
}

.login-main .checkbox-wrap {
  text-align: right;
  margin-bottom: 2.6rem;
}

.login-main .checkbox-wrap input[type=checkbox] {
  margin-right: 10px;
}

.language {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
}

.language label {
  margin: 0.1rem 1rem 0 0;
}

.language select {
  width: 16rem;
  height: 3.4rem;
  dding-top: 1px;
  background: #fff url(../img/ic_select.png) no-repeat 97% center;
  border: 1px solid #CCCCCC;
}

.logo img {
  margin: 3rem 0 5.6rem;
}

.box {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem 1rem 1.5rem 1.4rem;
  height: 8rem;
  text-align: right;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.4rem 0rem #d1cfcf;
  margin-bottom: 2.4rem;
}
.box .title {
  text-align: left;
}
.box.company select {
  width: calc(100% - 2rem);
  font-size: 1.6rem;
  border: none;
}
.box.company .select {
  position: relative;
}
.box.company .select::before {
  content: "";
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  left: 0;
  background: url(../img/ic_home.png) no-repeat center;
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
.box .sub {
  text-align: left;
  padding-left: 2rem;
  position: relative;
}
.box .sub input {
  border: none;
  width: 100%;
  font-size: 1.6rem;
  padding: 0 1rem;
}
.box .sub::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url(../img/ic_id.png) no-repeat right center;
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
.box.id .title {
  margin-bottom: 0;
}
.box.id .sub::before {
  top: 50%;
  transform: translateY(-50%);
}
.box.password {
  margin-bottom: 1.6rem;
}
.box.password input {
  line-height: 3.4rem;
}
.box.password .sub::before {
  background: url(../img/ic_lock.png) no-repeat right center;
}
.box.set {
  margin-bottom: 2rem;
}
.box.set .sub input {
  width: 100%;
}

/*main*/
.main {
  height: calc(100% - 4rem);
}

.top {
  display: flex;
  height: 4rem;
  align-items: center;
  text-align: left;
  position: relative;
}
.top.data-page {
  justify-content: space-between;
}
.top.data-page .title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0;
}
.top .back {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.top .home {
  width: 30%;
  height: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.top .home:active {
  opacity: 0.8;
}
.top .title {
  padding-top: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  padding: 2rem 3rem 0;
  height: 100%;
  overflow-y: auto;
}
.menu .list-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu > div:last-child .list {
  margin-bottom: 0;
}
.menu .list {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.4rem 0rem #d1cfcf;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  position: relative;
}
.menu .list img {
  margin: 0 0.8rem 0 1rem;
}
.menu .list p {
  font-size: 1.6rem;
  text-align: center;
  font-family: "AppleSDGothicNeoEB";
}
.menu .list .ic-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url(../img/ic_right.png);
  background-size: contain;
}

.access-alarm {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: #F1F1F1;
  padding-bottom: 1rem;
}
.access-alarm p {
  font-size: 1.3rem;
}
.access-alarm .log-out {
  color: #C72E45;
  vertical-align: baseline;
}

/*data page*/
.data-container {
  background-color: #EAECF1;
  padding: 1rem 1rem 1rem 1rem;
}
.data-container.other {
  min-height: calc(100% - 4rem);
}

.condition-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}
.condition-row:last-child {
  margin-bottom: 0;
}
.condition-row select {
  width: 100%;
  background-image: url(../img/ic_select.png);
  background-position: 95% 50%;
  border-radius: 1rem;
  border: 0.1rem solid #CCCCCC;
  line-height: 3.4rem;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.condition-row .c-name {
  width: 8.2rem;
  text-align: left;
  font-size: 1.4rem;
}
.condition-row .input-box {
  width: calc(100% - 8.2rem);
  text-align: left;
}
.condition-row .input-box .date-input {
  text-align: center;
  width: 64%;
}
.condition-row .search-box {
  width: calc(100% - 8.2rem);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.condition-row .search-box .search-input {
  width: calc(100% - 4.2rem);
}
.condition-row .search-box .btn-search {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../img/btn_search.png);
}
.condition-row .sel-box {
  width: calc(100% - 8.2rem);
  text-align: left;
}
.condition-row .input-sel-wrap {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 8.2rem);
}
.condition-row .input-sel-wrap .input {
  width: 64%;
}
.condition-row .input-sel-wrap .select {
  width: 34%;
}
.condition-row .check-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.condition-row .check-row select {
  width: 64%;
}

.condition-row .check-row input[type=checkbox] {
  margin-right: 0.4rem;
  vertical-align: sub;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.info-container p {
  font-size: 1.4rem;
  vertical-align: baseline;
}
.info-container .scan-num {
  font-size: 2rem;
  color: #F65E82;
  font-family: "AppleSDGothicNeoEB";
}

.checkbox-container {
  text-align: right;
  margin-bottom: 1rem;
}
.checkbox-container input[type=checkbox] {
  margin-right: 8px;
  vertical-align: bottom;
}
.checkbox-container label {
  font-size: 1.6rem;
  vertical-align: middle;
}

/*table 영역*/
.table-container {
  padding: 1rem;
}

.del {
  width: 16px;
  height: 16px;
  background-image: url(../img/btn_del.png);
}

.more {
  line-height: 30px;
  background-color: #E6E9F8;
  border: 1px solid #153970;
  border-top: 0;
}