<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
    <!--# 위의 명시된 날짜 이후가 되면 페이지가 캐싱되지 않습니다.
    (따라서 위와 같은 날짜로 지정할 경우 페이지는 지속적으로 캐싱되지 않습니다.)-->
    <meta http-equiv="Expires" content="-1">
    <!--# 캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다.-->
    <meta http-equiv="Pragma" content="no-cache">
    <!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0)-->
    <meta http-equiv="Cache-Control" content="no-cache">
    <!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)
    출처: https://coding-restaurant.tistory.com/339 [코딩맛집:티스토리]-->

	<title>팔레트출고</title>
	<link rel="stylesheet" href="css/setup.css?v=20230414">
	<link rel="stylesheet" href="css/style.css?v=20230414">
	<link rel="stylesheet" href="css/date_picker.css?v=20230414">
	<style>
		/*
		[v-cloak] .v-cloak--hidden{
		  display: none;
		}
		*/
		[v-cloak]{
		  display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="app" class="main data">
		<div class="top">
			<div class="img" onclick="location.replace('main.html');">
				<img src="img/btn_back.png">
			</div>
			<span>팔레트출고[영림원][{{pdaPort}}]</span>
		</div>
		<div class="data-container">
			<div class="data-wrap">
				<div class="row">
					<div class="title-row">
						<span>출고일자</span>
					</div>
					<input type="text" name="MovementDate" v-model.trim="queryForm.MovementDate" gx-init="addForm" value="" validate="required:이동 희망일를 입력해주세요!" gx-datepicker="queryForm.CompleteWishDate" gx-default="">
				</div>
			</div>
			<div class="radio-wrap">
				<div class="title-row">
					<span>입출구분</span>
				</div>
				<div class="radio-row">
					<label><input type="radio" name="InOutType" value="1" checked>이동출고</label>
					<label><input type="radio" name="InOutType" value="2" >명세서출고</label>
				</div>
			</div>
			<div class="data-row">
				<div class="title-row">
					<span>입출번호</span><span class="scan" @click="runScanner('queryForm.ReqNo');">스캔</span>
				</div>
				<div class="search-wrap">        
					<input type="text" name="ReqNo" v-model="queryForm.ReqNo" gx-scanner="Y" gx-init="addForm" gx-default="">
					<button class="btn-style-03" @click="ReqNoSel();">조회</button>
				</div>
			</div>
			<div class="row">
				<div class="title-row">
					<span>차량번호</span>
				</div>
				<input type="text" name="CarNo" v-model="queryForm.CarNo" gx-init="addForm" gx-default="" @click="openCodeHelp();">
			</div>
			<div class="data-row">
				<div class="title-row">
					<span>Barcode</span><span class="scan" @click="runScanner('queryForm.BarCode');">스캔</span>
				</div>
				<div class="search-wrap">        
					<input type="text" name="BarCode" v-model="queryForm.BarCode" gx-scanner="Y" gx-init="addForm" gx-default="">
					<button class="btn-style-03" @click="BarCodeSel();">조회</button>
				</div>
			</div>
		</div>

		<div class="product-info">
			<p class="product">{{QtyData.ItemName}}</p>
			<p class="p-total">{{QtyData.TotalQty}}</p>
		</div>
		
		<div class="table-container">
			<div class="btn-row">
				<button class="btn-style-04" @click="del();">선택삭제</button>
				<button class="btn-style-07" @click="init();">초기화</button>
			</div>
			<div class="data-row">
				<div class="table table2" id="grid">
				</div>
			</div>
		</div>
		<div class="fixed-btn-row">
			<button class="btn-style-05" @click="save2();">처리하기</button>
		</div>

		<div class="bg-wrap" code-help="CarNo" gx-layer="">
			<div class="code-help-con">
				<div class="code-help-top">
					<span>차량번호 선택</span>
				</div>
	
				<div class="data-container other code-help-main">
					<div class="row">
						<div class="title-row">
							<span>차량번호</span>
						</div>
						<input type="text" name="CarNo" v-model="codeHelp.CarNo" @click="focusCodeHelp('CarNo');" @change="focusCodeHelp('CarNo');">
					</div>
	
					<div class="code-help-button-row">
						<button @click="searchCodeHelp('CarNo');"> <img src="img/ic_search.png" alt=""> 조회하기</button>
					</div>
					
					<div class="pagination-row">
						<div class="pagination">
							<a href="javascript:void(0);" class="btn-prev" @click="pagingCodeHelp('CarNo','prev');"></a>
							<div class="mum-box">
								<input class="current" type="text" name="PageCount" value="1" @change="searchCodeHelp('CarNo');">
							</div>
							<a href="javascript:void(0);" class="btn-next" @click="pagingCodeHelp('CarNo','next');"></a>
						</div>
						<div class="combo">
							<select name="PageSize" @change="searchCodeHelp('CarNo');">
								<option value="50">50개씩 보기</option>
								<option value="100">100개씩 보기</option>
								<option value="150">150개씩 보기</option>
								<option value="200">200개씩 보기</option>
								<option value="250">250개씩 보기</option>
								<option value="300">300개씩 보기</option>
								<option value="350">350개씩 보기</option>
								<option value="400">400개씩 보기</option>
								<option value="450">450개씩 보기</option>
								<option value="500">500개씩 보기</option>
							</select>
						</div>
					</div>

					<div class="table-row">
						<div id="grid-carno" class="table">
						</div>
					</div>

					<div class="fixed-btn-row">
						<button class="btn-style-08" @click="closeCodeHelp('CarNo');">닫기</button>
						<button class="btn-style-06" @click="selectedApplyCodeHelp('CarNo');">선택하기</button>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-wrap" id="info-container" gx-layer="">
			<div class="container">
				<button class="btn-close" @click="closeInfo();"></button>
				<p class="title">바코드 스캔 권한 설정 정보</p>
				<div class="scan-right-raw">
					
					<div class="btn-row">
						<button class="btn-jeju" @click="copyUnsafelyUrl();">카메라 허용 설정 주소 복사</button>
						<button class="btn-jeju" @click="copyLocationOrigin();">현재 사이트 주소 복사</button>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-wrap" id="scanner-container" gx-layer="">
			<div id="qr-reader"></div>
			<button class="bg-btn-close" @click="stopScanner();"> 
				<img src="img/btn_close.png" alt="">
			</button>
		</div>
	</div>
</body>
<script>
//토글
// $(function(){
// 	$(".toggle-switch").click(function(){
// 		$(this).toggleClass("active");
// 	});
// });
</script>
<script src="js/app.js?v=1652769578524" defer=""></script>
</html>