<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
	<!--# 위의 명시된 날짜 이후가 되면 페이지가 캐싱되지 않습니다.
    (따라서 위와 같은 날짜로 지정할 경우 페이지는 지속적으로 캐싱되지 않습니다.)-->
	<meta http-equiv="Expires" content="-1">
	<!--# 캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다.-->
	<meta http-equiv="Pragma" content="no-cache">
	<!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0)-->
	<meta http-equiv="Cache-Control" content="no-cache">
	<!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)
    출처: https://coding-restaurant.tistory.com/339 [코딩맛집:티스토리]-->

	<title>구매발주품목 조회</title>
	<link rel="stylesheet" href="css/setup.css?v=20230414">
	<link rel="stylesheet" href="css/style.css?v=20230414">
	<link rel="stylesheet" href="css/date_picker.css?v=20230414">
	<link rel="stylesheet" href="css/util.css?v=20230414">
	<style>
		/*
		[v-cloak] .v-cloak--hidden{
		  display: none;
		}
		*/
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="app">
		<div page-layer="productShipmentTargetInquiry">

			<div class="top data-page">
				<div>
					<div class="img" onclick="history.back();">
						<img src="img/btn_back.png">
					</div>
					<span>{{lang.title}}</span>
				</div>
				<a onclick="history.back();">
					<img src="img/home.png">
				</a>
			</div>
			<div class="data-container">
				<div class="row">
					<p class="c-name">{{lang.search[0]}}</p>
					<div class="field date">
						<input type="text" name="InvoiceDateFr" v-model.trim="queryForm.InvoiceDateFr" value="" validate="required:일자를 입력해주세요!"
							gx-datepicker="queryForm.InvoiceDateFr" gx-default="" readonly>
						-
						<input type="text" name="InvoiceDateTo" v-model.trim="queryForm.InvoiceDateTo" value="" validate="required:일자를 입력해주세요!"
							gx-datepicker="queryForm.InvoiceDateTo" gx-default="" readonly>
					</div>
				</div>
				<div class="row">
					<p class="c-name">{{lang.search[1]}}</p>
					<div class="field">
						<input type="text" v-model="queryForm.CustName" gx-scanner="Y" >
					</div>
				</div>
				<div class="row">
					<p class="c-name">{{lang.search[2]}}</p>
					<div class="field search">
						<div class="input">
							<input type="text" v-model="queryForm.ItemNo" gx-scanner="Y">
						</div>
						<button class="btn-style-03" @click="Invoicsel();">{{lang.button[0]}}</button>
					</div>
				</div>
			</div>
			<div class="table-container">
				<div class="table">
					<table>
						<thead>
							<tr>
								<td>{{lang.column[0]}}</td>
								<td>{{lang.column[1]}}</td>
								<td>{{lang.column[2]}}</td>
								<td>{{lang.column[3]}}</td>
								<td>{{lang.column[4]}}</td>
							</tr>
						</thead>
						<tbody v-for="(row, index) in rows.ItemList">
							<tr @click="productForwardingProcessing(index);">
								<td class="text-c">{{index+1}}</td>
								<td class="text-c">{{row.InvoiceDate}}</td>
								<td class="text-c">{{row.CustName}}</td>
								<td >{{row.InvoiceNo}}</td>
								<td class="text-c" onclick="event.cancelBubble=true;"><button class="note" @click="modalOpen(index);"></button></td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="modal">
			<div class="container">
				<div class="title">
					<div>
						<p>{{modal.CustName}}</p>
						<p>[{{modal.InvoiceNo}}]</p>
					</div>
					<button class="btn-close" @click="modalClose();"></button>
				</div>
				<div class="sub">
					<p>{{modal.Remark}}</p>
				</div>
			</div>
		</div>

		<div page-layer="productForwardingProcessing">
			<div class="top data-page">
				<div>
					<div class="img" @click="productShipmentTargetInquiry();">
						<img src="img/btn_back.png">
					</div>
					<span>{{lang.title}} [{{queryForm2.InvoiceNo}}]</span>
				</div>
				<a onclick="history.back();">
					<img src="img/home.png">
				</a>
			</div>
			<div class="data-container">		
				<div class="row">
					<p class="c-name">Lot No.</p>
					<div class="field">
						<div class="input scan">
							<input type="text" v-model="queryForm2.LotNo">
						</div>
					</div>
				</div>
			</div>
			<div class="table-container">
				<div class="table th-01 col-num">
					<table>
						<thead>
							<tr>
								<td>{{lang.column[0]}}</td>
								<td>{{lang.column[1]}}</td>
								<td>{{lang.column[2]}}</td>
								<td>{{lang.column[3]}}</td>
							</tr>
						</thead>
						<tbody v-for="(row, index) in rows.ItemList2">
							<tr>
								<td class="text-c">{{index+1}}</td>
								<td>{{row.ItemNo}}</td>
								<td class="text-r">{{row.Qty}}</td>
								<td class="text-r" :class="{'not-match':row.Qty!=row.ScanQty}" name="ScanQty">{{row.ScanQty}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="btn-row">
				<button class="btn-style-04" disabled v-if="saveButton">{{lang.button[0]}}</button>
			</div>

			<div class="btn-row">
				<button class="btn-style-04" @click="save();" v-if="!saveButton">{{lang.button[1]}}</button>
			</div>

			<div class="btn-forwarding-row">
				<button class="btn-style-05" @click="cancel();">{{lang.button[2]}}</button>
				<button class="btn-style-06" @click="productShipmentTargetInquiry();">{{lang.button[3]}}</button>	
			</div>
			
		</div>

		<div class="bg-wrap" code-help="WHName" gx-layer="">
			<div class="code-help-con">
				<div class="top">
					<span>창고 선택</span>
				</div>

				<div class="data-container">
					<div class="row">
						<p class="c-name">검색어</p>
						<div class="field ch-search">
							<div class="input">
								<input type="text" name="WHName" v-model="codeHelp.WHName" @click="focusCodeHelp('WHName');"
									@change="focusCodeHelp('WHName');">
							</div>
							<button class="btn-search" @click="searchCodeHelp('WHName');"></button>
						</div>
					</div>
				</div>

				<div class="table-container">

					<div class="pagination-row">
						<div class="pagination">
							<a href="javascript:void(0);" class="btn-prev" @click="pagingCodeHelp('WHName','prev');"></a>
							<div class="num-box">
								<input class="current" type="text" name="PageCount" value="1" @change="searchCodeHelp('WHName');">
								<span class="slash">/</span>
								<span>20</span>
							</div>
							<a href="javascript:void(0);" class="btn-next" @click="pagingCodeHelp('WHName','next');"></a>
						</div>
						<div class="combo">
							<select name="PageSize" @change="searchCodeHelp('WHName');">
								<option value="50">50개씩 보기</option>
								<option value="100">100개씩 보기</option>
								<option value="150">150개씩 보기</option>
								<option value="200">200개씩 보기</option>
								<option value="250">250개씩 보기</option>
								<option value="300">300개씩 보기</option>
								<option value="350">350개씩 보기</option>
								<option value="400">400개씩 보기</option>
								<option value="450">450개씩 보기</option>
								<option value="500">500개씩 보기</option>
							</select>
						</div>
					</div>

					<div class="table th-02">
						<table>
							<thead>
								<tr>
									<td>번호</td>
									<td>창고</td>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(row, index) in rows.WHNameListQuery" :class="{ active: activeRow === index }" @click="isActive(index);">
									<td class="text-c">{{row.SerialNo}}</td>
									<td class="text-c">{{row.WHName}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>

				</div>

				<div class="btn-row">
					<button class="btn-style-07" @click="closeCodeHelp('WHName');">닫기</button>
					<button class="btn-style-08" @click="selectedApplyCodeHelp('WHName');">확인</button>
				</div>
		
			</div>
		</div>
	</div>
</body>
<script src="js/app.js?v=1652769578524" defer=""></script>
</html>