<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
    <!--# 위의 명시된 날짜 이후가 되면 페이지가 캐싱되지 않습니다.
    (따라서 위와 같은 날짜로 지정할 경우 페이지는 지속적으로 캐싱되지 않습니다.)-->
    <meta http-equiv="Expires" content="-1">
    <!--# 캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다.-->
    <meta http-equiv="Pragma" content="no-cache">
    <!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0)-->
    <meta http-equiv="Cache-Control" content="no-cache">
    <!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)
    출처: https://coding-restaurant.tistory.com/339 [코딩맛집:티스토리]-->

	<title>재작업처리</title>
	<link rel="stylesheet" href="css/setup.css?v=20230414">
	<link rel="stylesheet" href="css/style.css?v=20230414">
	<link rel="stylesheet" href="css/date_picker.css?v=20230414">
	<style>
		/*
		[v-cloak] .v-cloak--hidden{
		  display: none;
		}
		*/
		[v-cloak]{
		  display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="app" class="main data">
		<div class="top">
			<div class="img" onclick="location.replace('main.html');">
				<img src="img/btn_back.png">
			</div>
			<span>재작업처리[영림원][{{pdaPort}}]</span>
		</div>
		<div class="data-container">
			<div class="data-row">
				<div class="title-row">
					<span>수정 Pallet</span><span class="scan" @click="runScanner('queryForm.ReWorkPallet');">스캔</span>
				</div>
				<div class="search-wrap">        
					<input type="text" name="ReWorkPallet" v-model="queryForm.ReWorkPallet" gx-scanner="Y" gx-init="addForm" gx-default="">
					<button class="btn-style-03" @click="ReWorkPalletSel();">조회</button>
				</div>
			</div>
			<div class="data-row">
				<div class="title-row">
					<span>투입</span><span class="scan" @click="runScanner('queryForm.InputPallet');">스캔</span>
				</div>
				<div class="search-wrap">        
					<input type="text" name="InputPallet" v-model="queryForm.InputPallet" gx-scanner="Y" gx-init="addForm" gx-default="">
					<button class="btn-style-03" @click="InputPalletSel();">조회</button>
				</div>
			</div>
			
		</div>
		<div class="table-container">
			<div class="btn-row">
				<button class="btn-style-04" @click="del();">선택삭제</button>
				<button class="btn-style-07" @click="init();">초기화</button>
			</div>
			<div class="data-row">
				<div class="table" id="grid">
				</div>
			</div>
		</div>
		<div class="btn-row">
			<button class="btn-style-05" @click="save2();">처리하기</button>
		</div>

		<div class="bg-wrap" id="info-container" gx-layer="">
			<div class="container">
				<button class="btn-close" @click="closeInfo();"></button>
				<p class="title">바코드 스캔 권한 설정 정보</p>
				<div class="scan-right-raw">
					
					<div class="btn-row">
						<button class="btn-jeju" @click="copyUnsafelyUrl();">카메라 허용 설정 주소 복사</button>
						<button class="btn-jeju" @click="copyLocationOrigin();">현재 사이트 주소 복사</button>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-wrap" id="scanner-container" gx-layer="">
			<div id="qr-reader"></div>
			<button class="bg-btn-close" @click="stopScanner();"> 
				<img src="img/btn_close.png" alt="">
			</button>
		</div>
	</div>
</body>
<script>
//토글
// $(function(){
// 	$(".toggle-switch").click(function(){
// 		$(this).toggleClass("active");
// 	});
// });
</script>
<script src="js/app.js?v=1652769578524" defer=""></script>
</html>